.player-card {
    transition: transform 0.2s;
    min-height: 450px; /* Adjust the value based on your design */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.player-card:hover {
    transform: scale(1.05);
}

.player-card img {
    height: 200px;
    object-fit: cover;
}

.mt-5 {
    margin-top: 3rem;
}