.club-account {
    margin-top: 20px;
}

.profile-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.text-primary {
    color: #007bff;
}

.shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
}

.mb-4 {
    margin-bottom: 1.5rem !important;
}

.mt-4 {
    margin-top: 1.5rem !important;
}

.text-success {
    color: #28a745 !important;
}

.text-danger {
    color: #dc3545 !important;
}
