/* src/components/HeaderComponent.css */
.header {
    background-color: #282c34;
    top: 0;
    width: 100%;
    padding: 20px;
    z-index: 1000;
    color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

.navList {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navItem {
    margin-left: 20px;
    font-size: 15px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    transition: background-color 0.3s, color 0.3s, border-radius 0.3s;
    border-radius: 5px;
}

.navItem:hover {
    background-color: #444;
    color: white;
    border-radius: 5px;
}

.menuIcon {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menuIcon .bar {
    height: 3px;
    width: 25px;
    background-color: white;
    margin: 4px 0;
    transition: all 0.3s;
}

/* Styles for small screens */
@media (max-width: 768px) {
    .navList {
        flex-direction: column;
        align-items: flex-start;
        display: none;
        width: 100%;
        background-color: #282c34;
        position: absolute;
        top: 70px;
        left: 0;
    }

    .navList.open {
        display: flex;
    }

    .navItem {
        margin: 10px 0;
        width: 100%;
        text-align: center;
    }

    .menuIcon {
        display: flex;
    }

    .menuIcon.open .bar:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .menuIcon.open .bar:nth-child(2) {
        opacity: 0;
    }

    .menuIcon.open .bar:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }
}
