.admin-email-container {
    padding: 20px;
}

.admin-email-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.email-table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
}

.email-table th,
.email-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.email-table th {
    background-color: #f2f2f2;
    color: black;
}

.email-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.email-table tr:hover {
    background-color: #ddd;
}
